// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
* Copyright (C) 2024 Thomas Bonnefille <thomas.bonnefille@bootlin.com>
*/

/dts-v1/;

#include "sg2002.dtsi"

/ {
	model = "LicheeRV Nano B";
	compatible = "sipeed,licheerv-nano-b", "sipeed,licheerv-nano", "sophgo,sg2002";
	
	aliases {
		gpio0 = &gpio0;
		gpio1 = &gpio1;
		gpio2 = &gpio2;
		gpio3 = &gpio3;
		serial0 = &uart0;
		serial1 = &uart1;
		serial2 = &uart2;
		serial3 = &uart3;
		serial4 = &uart4;
	};
	
	chosen {
		stdout-path = "serial0:115200n8";
	};
};

&osc {
	clock-frequency = <25000000>;
};

&pinctrl {
	uart0_cfg: uart0-cfg {
		uart0-pins {
			pinmux = <PINMUX(PIN_UART0_TX, 0)>,
			<PINMUX(PIN_UART0_RX, 0)>;
			bias-pull-up;
			drive-strength-microamp = <10800>;
			power-source = <3300>;
		};
	};
	
	sdhci0_cfg: sdhci0-cfg {
		sdhci0-clk-pins {
			pinmux = <PINMUX(PIN_SD0_CLK, 0)>;
			bias-pull-up;
			drive-strength-microamp = <16100>;
			power-source = <3300>;
		};
		
		sdhci0-cmd-pins {
			pinmux = <PINMUX(PIN_SD0_CMD, 0)>;
			bias-pull-up;
			drive-strength-microamp = <10800>;
			power-source = <3300>;
		};
		
		sdhci0-data-pins {
			pinmux = <PINMUX(PIN_SD0_D0, 0)>,
			<PINMUX(PIN_SD0_D1, 0)>,
			<PINMUX(PIN_SD0_D2, 0)>,
			<PINMUX(PIN_SD0_D3, 0)>;
			bias-pull-up;
			drive-strength-microamp = <10800>;
			power-source = <3300>;
		};
		
		sdhci0-cd-pins {
			pinmux = <PINMUX(PIN_SD0_CD, 0)>;
			bias-pull-up;
			drive-strength-microamp = <10800>;
			power-source = <3300>;
		};
	};
	spi2_cfg: spi2_cfg{
		spi2-pins {
			pinmux = <PINMUX(PIN_SD1_CLK, 1)>,  /* GP6  -> SPI2_SCK  */
			<PINMUX(PIN_SD1_CMD, 1)>,  /* GP7  -> SPI2_MOSI */
			<PINMUX(PIN_SD1_D0,  1)>,  /* GP8  -> SPI2_MISO */
			<PINMUX(PIN_SD1_D3,  1)>;  /* GP9  -> SPI2_CS   */
			
			// bias-disable;
			drive-strength-microamp = <10800>;
			power-source = <3300>;
		};
	};
	
};

&sdhci0 {
	pinctrl-0 = <&sdhci0_cfg>;
	pinctrl-names = "default";
	status = "okay";
	bus-width = <4>;
	no-1-8-v;
	no-mmc;
	no-sdio;
	disable-wp;
};

&uart0 {
	pinctrl-0 = <&uart0_cfg>;
	pinctrl-names = "default";
	status = "okay";
};

&usb {
	dr_mode = "peripheral";
	status = "okay";
	vbus-gpio = <&portb 6 0>;
	g-use-dma = <0>;
	g-use-dma-descriptor = <0>;
};
&usbphy {
	// g-use-dma;
	vbus-gpio = <&portb 6 0>;
};
&spi2 {
	status = "okay";
	pinctrl-0 = <&spi2_cfg>;
	pinctrl-names = "default";
	num-cs = <1>;
	spi2_dev0: spidev@0 {
		compatible = "rohm,dh2228fv";
		reg = <0>;
		spi-max-frequency = <10000000>;
	};
	
};